COMPOSE_PROJECT_NAME=nginx-lab
NGINX_SERVER_NAME=nginx.local
STATIC_SERVER_NAME=static.local
TLS_COUNTRY=FR
TLS_STATE=Ile-de-France
TLS_CITY=Paris
TLS_ORGANIZATION=RobinThiriet
TLS_ORGANIZATIONAL_UNIT=Infra
TLS_EMAIL=admin@example.local
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMeNow123!
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
STATIC_LOCAL_PORT=8443
