COMPOSE_ENV_FILE=.env.prod
COMPOSE_PROJECT_NAME=nginx-prod
NGINX_SERVER_NAME=example.com
STATIC_SERVER_NAME=static.example.com
TLS_COUNTRY=FR
TLS_STATE=Ile-de-France
TLS_CITY=Paris
TLS_ORGANIZATION=RobinThiriet
TLS_ORGANIZATIONAL_UNIT=Infra
TLS_EMAIL=admin@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMeNow123!
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=ChangeThisGrafanaPassword!
STATIC_LOCAL_PORT=8443
